.node-panel {
  width: 300px;
  background-color: white;
  box-sizing: border-box;
  color: black;
  position: fixed;
  top: 60px;
  right: 0;
  height: calc(100vh - 40px);
  padding: 1em;
}

.type {
  padding: 0.5em 1em;
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
}

.hover {
  cursor: pointer;
}
